body {
	background-image: url(/img/background.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Century Gothic";

}

h1 {
	color: #f0f0f0;
	text-align: center;
	font-family: "Century Gothic";
	font-size: 70px;
	font-weight: bolder;
    margin-top: 20px;
}


a {
	color: #FDFFA9;
}

.text {
	font-family: "Century Gothic";
	width: 500px;
    height: 40px;
    font-size: 10px;
    margin-top: 10px;
}

td {
	font-family: "Century Gothic";
    font-size: 10px;
}

.fontsize {
	font-size: 14px;
}

p {
	color: rgb(19, 18, 18);
	text-align: center;
	font-family: "Century Gothic";
    font-size: 25px;
}

.loginbttn {
	font-family: "Century Gothic";
	width: 200px;
    height: 60px;
	background-color: transparent;
	padding:10px 40px;
	margin: 10px;
	color: #101010;
	border: 1px solid  #0b0b0b;
	border-radius: 20px;
	font-size: 20px;
    margin-top: 25px 0;
}

.loginbttn:hover {
	background-color:rgb(9, 9, 9);
	color:#fef9f9;
    border: 1px solid #f4f0f0;
}
label{font-size: 25px;
    color: #151414;
margin-top: 10px;}
p.text{
    font-size: 25px;
}
a.text{font-size: 20px;
    color: blue;

}



@media screen and(max-width:600px) {
    
    h1 {
        color: #f0f0f0;
        text-align: center;
        font-family: "Century Gothic";
        font-size:10px;
        font-weight: bolder;
    }
    .text {
        font-family: "Century Gothic";
        width: 30px;
        font-size: 10px;
        margin:20px
    }
    .fontsize {
        font-size: 14px;
    }
    .loginbttn {
        font-family: "Century Gothic";
        width: 100px;
        background-color: transparent;
        padding:5px 30px;
        margin: 20px;
        color: #0a0a0a;
        border: 1px solid #f0f0f0;
        border-radius: 20px;
        font-size: 10px;
    
    }
    p {
        color: white;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 15px;
    }
    label{font-size: 25px;
        color: #FFFFFF;}
    p.text{
            font-size: 30px;
        }
    a.text{font-size: 30px;
            ;
        
        }
        
    
}
@media screen and (min-width:600px) and (max-width:768px){
    h1 {
        color: #f0f0f0;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 90px;
        font-weight: bolder;
    }
    .text {
        font-family: "Century Gothic";
        width: 500px;
        height: 40px;
        font-size: 20px;
    }
    
    td {
        font-family: "Century Gothic";
        font-size: 30px;
    }
    .fontsize {
        font-size: 18px;
    }
    .loginbttn {
        font-family: "Century Gothic";
        width: 200px;
        background-color: transparent;
        padding:40px 40px;
        margin: 20px;
        color: #050505;
        border: 1px solid #f0f0f0;
        border-radius: 20px;
        font-size: 20px;
        margin-top: 20px;
    }
    p {
        color: white;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 15px;
    }
    label{font-size: 25px;
    color: #FFFFFF;}
    p.text{
        font-size: 30px;
    }
    a.text{font-size: 30px;
        ;
    
    }
    
    
}
@media screen and (max-width:768px){
    h1 {
        color: #f0f0f0;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 60px;
        font-weight: bolder;
    }
    .text {
        font-family: "Century Gothic";
        width: 400px;
        font-size: 10px;
        margin-top:10px
    }
    .fontsize {
        font-size: 10px;
    }
    .loginbttn {
        font-family: "Century Gothic";
        width: 200px;
        background-color: transparent;
        padding:5px 20px;
        margin: 15px;
        color: #0d0d0d;
        border: 1px solid #f0f0f0;
        border-radius: 20px;
        font-size: 15px;
    
    }
    td {
        font-family: "Century Gothic";
        font-size: 20px;
    }


    p {
        color: white;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 20px;
    }
    label{font-size: 25px;
        color: #FFFFFF;}
    p.text{
            font-size: 25px;
        }
    a.text{font-size: 20px;
            ;
        
        }
        
    

    
}